$gray-dark: #343a40;
$primary: #4659E4;
$light-primary: #ebeeff;
$dark-primary: #3347e0;
$secondary: #f0bc4d;
$light: #F9FAFE;
$light-alt: #f0f2fa;
$gray: #afafaf;
$dark: #212529;
$info: #97a3ff;
@import '~bootstrap/scss/bootstrap.scss';

.wrapperLogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.login-form{
    width: 95%;
    height: 80vh;
    background-color: $light;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
}

@media (min-width: 500px) {
    .login-form{
        width: 400px;
    }
}
// ! Modal --------------------
.modal-content{
  border: none !important;
  border-radius: 15px !important;

}
.modal-header{
  border: none !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

// ! Botones ------------------
.btn-primary{
  box-shadow: 0px 5px 20px -2px rgba(70, 88, 228, 0.5) !important;
}
.btn-danger{
  box-shadow: 0px 5px 20px -3px rgba(255, 0, 0, 0.5) !important;
}
.btn-c{
  border-radius: 100% !important;
  width: 40px !important;
  box-shadow: 0px 5px 20px -3px rgba(70, 88, 228, 0.5) !important;
}
// ! Inputs ------------------
.form-control{
    border-radius: 5px;
    outline: none !important;
    &:focus{
        box-shadow: none !important;
    }
}

.wrapper{
    overflow-x: hidden;
    transition: all .25s; 
}

.menu-header{
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1040;
}
.shadow-primary{
    box-shadow: 0 5px 20px -2px rgba(51, 49, 145, 0.1);
}
.rounded-15{
    border-radius: 15px;
}
.sidebar-wrapper {
    position: relative;
	top: 0;
	left: 0;
	height: 100vh;
	margin-left: -15rem;
    -webkit-transition: all .25s ;
    -moz-transition: all .25s ;
    -o-transition: all .25s ;
    transition: all .25s ; 
}
.sidebar-wrapper .list-group {
    transition: all .25s ; 
    width: 15rem;
    padding: 10px;
    overflow-y: auto;
}
.wrapper.toggled .sidebar-wrapper {
    position: sticky !important;
    top: 0;
    left: 0;
    height: 100vh;
    margin-left: 0; 
}
.page-content-wrapper {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $light;
}
@media (min-width: 770px) {
    .sidebar-wrapper {
        top: 0;
        left: 0;
        height: 100vh;
        position: sticky;
        margin-left: 0; 
    }
    .page-content-wrapper {
        min-width: 0;
        width: 100%;
        height: 100vh;
    }
    .wrapper.toggled .sidebar-wrapper {
        position: relative !important;
        top: 0;
        left: 0;
        height: 100vh;
        margin-left: -15rem; 
        transition: all .25s ; 
    } 
}
.hover-menu-items-parent {
    background-color: $primary;
}
.menu-toggle{
    outline: none !important;
    box-shadow: none !important;
}
.menu-items-var{
    background-color: $primary !important;
    color: $light !important;
    border:none !important;
    margin-bottom: 1.1rem;
    border-radius: 10px !important;
    font-size: 20px !important;
    &:hover{
        background: linear-gradient(130deg, #a6b0f7 0%, #828ee9 100%) !important; 
        transition: all 5s ease 3s;
        color: $light !important;
    }
    &:focus{
        background: linear-gradient(130deg, #a6b0f7 0%, #828ee9 100%) !important;
        color: $light !important; 
    }
    &.active{
        background: linear-gradient(130deg, #a6b0f7 0%, #828ee9 100%) !important; 
        transition: all 5s ease 3s;
        color: $light !important;
    }
}
// ! Tables ------------------
.table-primary-custom{
    background-color: $primary !important;
    color: white;
}
th:nth-child(1){
    border-top-left-radius: 15px;
    text-align: center;
}
th:nth-last-child(1){
    border-top-right-radius: 15px;
    text-align: center;
}
.tableHolder{
    min-height: 50vh;
    overflow-y: auto;
}
td:nth-child(1){
    text-align: center;
}
td:nth-last-child(1){
  text-align: center;
}

table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
  border-spacing: 0; }

table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center; }

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap; }

div.dataTables_wrapper {
  width: 100% !important; }

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap; }

div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block; }

div.dataTables_wrapper div.dataTables_filter {
  text-align: right; }

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left; }

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto; }

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em; }

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right; }

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end; }

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0; }

table.dataTable > thead > tr > th:active,
table.dataTable > thead > tr > td:active {
  outline: none; }

table.dataTable > thead > tr > th:not(.sorting_disabled),
table.dataTable > thead > tr > td:not(.sorting_disabled) {
  padding-right: 30px; }

table.dataTable > thead .sorting,
table.dataTable > thead .sorting_asc,
table.dataTable > thead .sorting_desc,
table.dataTable > thead .sorting_asc_disabled,
table.dataTable > thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative; }

table.dataTable > thead .sorting:before, table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3; }

table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:before {
  right: 1em;
  content: "↑"; }

table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "↓"; }

table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_desc:after {
  opacity: 1; }

table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
  opacity: 0; }

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important; }

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before,
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none; }

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none; }

div.dataTables_scrollFoot > .dataTables_scrollFootInner {
  box-sizing: content-box; }

div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
  margin-top: 0 !important;
  border-top: none; }

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: center; }
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center !important; } }

table.dataTable.table-sm > thead > tr > th:not(.sorting_disabled) {
  padding-right: 20px; }

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
  top: 5px;
  right: 0.85em; }

table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
  top: 5px; }

table.table-bordered.dataTable {
  border-right-width: 0; }

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 0; }

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: 1px; }

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  border-bottom-width: 0; }

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0; }

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0; }

div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:first-child {
  padding-left: 0; }

div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:last-child {
  padding-right: 0; }

// ! END-TABLE -----------------------------------

.switch-cus {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
  margin-top: 10px !important;
}
.switch-cus input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-cus {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-cus:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: -3px;
  background-color: #4659e4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-cus {
  background-color: #93a0ff;
}

input:focus + .slider-cus {
  box-shadow: 0 0 1px #93a0ff;
}

input:checked + .slider-cus:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-cus.round-cus {
  border-radius: 34px;
}

.slider-cus.round-cus:before {
  border-radius: 50%;
}