$gray-dark: #343a40;
$primary: #4659E4;
$light-primary: #ebeeff;
$dark-primary: #3347e0;
$secondary: #f0bc4d;
$light: #F9FAFE;
$light-alt: #f0f2fa;
$gray: #afafaf;
$dark: #212529;
$info: #97a3ff;

$grid-breakpoints: ( xs: 0, sm: 375px, md: 768px, lg: 1200px, xl: 1300px, xxl: 2000px );

@import '~bootstrap/scss/bootstrap.scss';

.wrapperLogin{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.login-form{
    width: 95%;
    height: 80vh;
    background-color: $light;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
}

@media (min-width: 500px) {
    .login-form{
        width: 400px;
    }
}
// ! Badges ---------------------
.badge.bg-success{
    background-color: rgb(132, 216, 132) !important;
    color: rgb(63, 145, 60);
}

// ! Modal --------------------
.modal-content{
  border: none !important;
  border-radius: 15px !important;

}
.modal-header{
  border: none !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

// ! Botones ------------------
.btn-primary{
  box-shadow: 0px 5px 20px -2px rgba(70, 88, 228, 0.5) !important;
}
.btn-danger{
  box-shadow: 0px 5px 20px -3px rgba(255, 0, 0, 0.5) !important;
}
.btn-c{
  border-radius: 100% !important;
  width: 40px !important;
  box-shadow: 0px 5px 20px -3px rgba(70, 88, 228, 0.5) !important;
}
.btn-c2{
  border-radius: 100% !important;
  width: 40px !important;
  background-color: transparent !important;
}
// ! Inputs ------------------
.form-control{
    border-radius: 5px;
    outline: none !important;
    &:focus{
        box-shadow: none !important;
    }
}

.wrapper{
    overflow-x: hidden;
    transition: all .25s; 
}

.menu-header{
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1040;
}
.shadow-primary{
    box-shadow: 0 5px 20px -2px rgba(51, 49, 145, 0.1);
}
.rounded-15{
    border-radius: 15px;
}
.sidebar-wrapper {
    position: relative;
	top: 0;
	left: 0;
	height: 100vh;
	margin-left: -15rem;
    -webkit-transition: all .25s ;
    -moz-transition: all .25s ;
    -o-transition: all .25s ;
    transition: all .25s ; 
}
.sidebar-wrapper .list-group {
    transition: all .25s ; 
    width: 15rem;
    padding: 10px;
    overflow-y: auto;
}
.wrapper.toggled .sidebar-wrapper {
    position: sticky !important;
    top: 0;
    left: 0;
    height: 100vh;
    margin-left: 0; 
}
.page-content-wrapper {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    background-color: $light;
}
@media (min-width: 770px) {
    .sidebar-wrapper {
        top: 0;
        left: 0;
        height: 100vh;
        position: sticky;
        margin-left: 0; 
    }
    .page-content-wrapper {
        min-width: 0;
        width: 100%;
        height: 100vh;
    }
    .wrapper.toggled .sidebar-wrapper {
        position: relative !important;
        top: 0;
        left: 0;
        height: 100vh;
        margin-left: -15rem; 
        transition: all .25s ; 
    } 
}
.hover-menu-items-parent {
    background-color: $primary;
}
.menu-toggle{
    outline: none !important;
    box-shadow: none !important;
}
.menu-items-var{
    background-color: $primary !important;
    color: $light !important;
    border:none !important;
    margin-bottom: 1.1rem;
    border-radius: 10px !important;
    font-size: 20px !important;
    &:hover{
        background: linear-gradient(130deg, #a6b0f7 0%, #828ee9 100%) !important; 
        transition: all 5s ease 3s;
        color: $light !important;
    }
    &:focus{
        background: linear-gradient(130deg, #a6b0f7 0%, #828ee9 100%) !important;
        color: $light !important; 
    }
    &.active{
        background: linear-gradient(130deg, #a6b0f7 0%, #828ee9 100%) !important; 
        transition: all 5s ease 3s;
        color: $light !important;
    }
}
// ! Tables ------------------
.table-primary-custom{
    background-color: $primary !important;
    color: white;
}
th:nth-child(1){
    border-top-left-radius: 15px;
    text-align: center;
}
th:nth-last-child(1){
    border-top-right-radius: 15px;
    text-align: center;
}
.tableHolder{
    min-height: calc(100vh - 315px);
    overflow-y: auto;
}
td:nth-child(1){
    text-align: center;
}
td:nth-last-child(1){
  text-align: center;
}

// ! CARD -----------------------------------
.card{
  border: none !important;
  border-radius: 15px !important;
  box-shadow: 0px 5px 20px -2px rgba(152, 164, 255, 0.3) !important;
  transition: all .3s;
  margin-bottom: 3rem !important;
  &:hover{
    transition: all .3s;
    width: 20rem !important;
    margin-bottom: 1rem !important;
  }
}



// ! END-TABLE -----------------------------------

.switch-cus {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
  margin-top: 10px !important;
}
.switch-cus input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-cus {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-cus:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: -3px;
  background-color: #4659e4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-cus {
  background-color: #93a0ff;
}

input:focus + .slider-cus {
  box-shadow: 0 0 1px #93a0ff;
}

input:checked + .slider-cus:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-cus.round-cus {
  border-radius: 34px;
}

.slider-cus.round-cus:before {
  border-radius: 50%;
}